[submodule "src/Runtime/vendor/glm"]
	path = src/Runtime/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/Runtime/vendor/freetype"]
	path = src/Runtime/vendor/freetype
	url = https://github.com/freetype/freetype.git
